.container {
  width: 100%;
  max-width: 1024px; /*максимальная ширина может иметь другое значение*/
  padding: 15px;
  margin: 0 auto;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.file_input {
  float: left;
  width: 50%;
  margin: 0;
  background-color: green;
}

.login {
  float: right;
  width: 50%;
  margin: 0;
  background-color: red;
}

.files {
  float: left;
  width: 100%;
  min-height: 300px;
  margin: 0;
  background-color: blue;
}
