.container {
  width: 100%;
  max-width: 1024px; /*максимальная ширина может иметь другое значение*/
  padding: 15px;
  margin: 0 auto;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.file_input {
  float: left;
  width: 50%;
  height: 200px;
  margin: 0;
  background-color: green;
}

.login {
  float: right;
  width: 50%;
  height: 200px;
  margin: 0;
  background-color: red;
}

.files_list {
  float: left;
  width: 40%;
  min-height: 50px;
  margin: 5;
  background-color: #6ca8b5;
}

.file_info {
  float: right;
  width: 40%;
  min-height: 50px;
  margin: 5;
  background-color: #6ca8b5;
}

#flash_messages {
  height: 200px;
}